<!DOCTYPE HTML>
<!-- This is the first page. -->




<html>
<head>
<link rel = "stylesheet" type = "text/css" href = "css/bootstrap.min.css" />
<link rel = "stylesheet" type = "text/css" href = "css/component.css"/>
<script src="js/jquery-1.9.1.min.js"></script>
<title> HOTEL </title>
</head>



<body style = "background-color: #F0F0D8" >


<div id = "wrapper">

<div id="sidebar-wrapper">

<ul class="bmenu list-unstyled">

    <li style = "font-size: 2em"> <a href="index">HOME</a> </li>

    <li><a href="about">About</a></li>

    <li><a href="rooms">Rooms</a></li>

    <li><a href="reserve">Reserve</a></li>

</ul>





</div>
   

<div id = "page-content-wrapper">

 



<div class = "background"> </div>


<div class = "top" style = "background-color: #BEE2E7">
<h1>  <i> Fictional Hotel </i></h1> <br>
<h3>is a fictional hotel located in Italy. It is beautiful, nice, and a wonderful place to stay in.
More information can be found using the links at the left or at the bottom. This site works best in Safari or Chrome. </h3>
</div>


<div class="col-md-6" style = "margin-top: 35%">

<a href = "about"> <button type="button" class="btn btn-primary btn-lg">
  <span class="glyphicon glyphicon-asterisk"></span> About
</button></a>


<a href = "rooms"> <button type="button" class="btn btn-danger btn-lg">
  <span class="glyphicon glyphicon-lock"></span> Rooms
</button></a>

<a href = "reserve"> <button type="button" class="btn btn-info btn-lg">
  <span class="glyphicon glyphicon-plus"></span> Reserve
</button></a>

</div>

</div>

</div>

</body>



</html>
